---
import "../styles/global.css";
const { pageTitle } = Astro.props;

const isProd: boolean = import.meta.env.PROD;
const BASE_URL: string = 'https://blog.hedegaremoreira.com/';
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <h1 class="page-title"><a href={isProd ? BASE_URL : '/'}>My Blog</a></h1>
        <slot />
        <footer>Hedegare - 2024</footer>
    </body>
</html>